<?xml version="1.0"?>
<!-- 
  main launch file for IPS testbed demo setup
  launches nodes for marvelmind, pozyx and vlp
-->

<launch>

<!-- Optional arguments -->
<arg name="rviz" default="False" doc="Vizualize results in rviz"/>

<!-- Include other files -->
<include file="$(find turtlebot_teleop)/launch/ps3_teleop.launch"/>

<!-- Parameters -->
<rosparam command="load" file="$(find vlp)/yaml/vlp_params.yaml" />
<param name="use_sim_time" value="false"/>

<!-- Nodes -->
<node pkg="ips_demo" type="marvelmind_tf.py" name="marvelmind_tf" required="false" output="screen" /> 

<group if="$(arg rviz)">
	<node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find ips_demo)/rviz/ips_demo.rviz" />
</group>

</launch>
