<?xml version="1.0"?>
<launch>

<!-- 
	Launch file to initialize communication with the Turtlebot 2, pozyx receiver and marvelmind hedgehogs
	Should be run on the Raspberry Pi
-->

<!-- Optional arguments -->
<arg name="marvelmind_port" default="ttyACM0" doc="Serial port for marvelmind"/>
<arg name="pozyx_port" default="ttyAMA0" doc="Serial port for pozyx"/>

<!-- Includes -->
<include file="$(find turtlebot_bringup)/launch/minimal.launch"/> 
<include file="$(find ips_demo)/launch/pozyx_demo.launch"/> 

<!-- Nodes -->

<node pkg="marvelmind_nav" type="hedge_rcv_bin" name="marvelmind_hedgehog_tracker"  args="/dev/$(arg marvelmind_port)">
</node>

<!-- Parameters -->
<param name="pozyx_port" value="/dev/$(arg pozyx_port)"/>

  	
</launch>
